{% extends 'base.html.twig' %}

{% block title %} Commande {% endblock %}

{% block body %}
<style>

    .command-table {
        width: 60%;
        display: flex;
        justify-content: center;
    }

</style>

    {% if commands %}
    <div class="command-table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Historiques des commandes</th>
                </tr>
            <thead>
            <tbody>
            {% for command in commands %}
            <tr scope="row" data-id="{{ command.id }}">
                <td>{{ command.id }}</td>
                {% for product in command.products %}
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                {% endfor %}
                <td>{{ command.email }}</td>
                <td>{{ command.createdAt|date("d/m/Y") }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>
    {% endif %}
{% endblock %}