{% extends 'base.html.twig' %}

{% block title %} Commandes {% endblock %}

{% block body %}
<style>

    .command-table {
        width: 60%;
        display: flex;
        justify-content: center;
    }

</style>

    <div class="command-table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">No de commande</th>
                    <th scope="col">Nom de produits</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Date de la commande</th>
                </tr>
            <thead>
            <tbody>
            <tr scope="row" data-id="{{ command.id }}">
                <td>{{ command.id }}</td>
                {% for product in command.products %}
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                {% endfor %}
                <td>{{ command.email }}</td>
                <td>{{ command.createdAt|date("d/m/Y") }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="command-table">
        <p>Nombre d'articles : {{command.products|length}}</p>
    </div>
    <div class="command-table">
        <p>Prix total : {{total}}</p>
    </div>
{% endblock %}