{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des produits</h1>

    {% for product in products %}
    <ul>
        <li>
            <a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a>
            <br/>
            {{ product.description | slice(0,300) }}
            <a href="{{ path('product_show', {'id': product.id}) }}">... voir plus</a>
            <br/>
            Prix : {{ product.price }}€
            <br/>
            <b>Date :</b>{{ product.createdAt|date("d/m/Y")}}
            <br/><br/>
        </li>
    </ul>
    {% endfor %}

</div>
{% endblock %}
