{% extends 'base.html.twig' %}

{% block title %} Panier {% endblock %}

{% block body %}
<style>

    .panier-table {
        width: 60%;
        display: flex;
        justify-content: center;
    }

</style>

    {% if products %}
    <div class="container py-5">
        <div class="panier-table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nom du produit</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Action</th>
                    </tr>
                <thead>
                <tbody>
                {% for product in products %}
                    <tr scope="row" data-id="{{ product.id }}">
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>
                            <form action="{{ path('panier_delete', {'id': product.id }) }}" method="POST">
                                <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
                                <input type="submit" class="btn btn-danger" value="Supprimer" onsubmit="return confirm('Etes-vous sûr de supprimer cet article ?')"/>
                                <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}" onsubmit="return confirm('Etes-vous sûr de supprimer cet article ?')"/>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td> - </td>
                        <td id="prixTotal">{{total}}<td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container py-5">
            {{ form_start(commandForm) }}
            {{ form_row(commandForm.email) }}
            <button type="submit" class="btn btn-primary">Commander</button>
            {{ form_end(commandForm) }}
            <a href="{{ path('home')}}">
                <button class="btn btn-secondary float-right">Annuler</button>
            </a>
        </div>
    </div>
    {% else %}
        <p>Votre panier est vide, voir le <a href="{{ path('product') }}">catalogue</a></p>
    {% endif %}
{% endblock %}