{% extends 'base.html.twig' %}

{% block title %} Product {{ product.id }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <a href="{{ path('product') }}">Retour à la page article</a>
    <br/><br/>
    <h1 data-id="{{ product.id }}" data-name="{{ product.name }}"> {{ product.name }} </h1>
    <p><b>Name</b> : {{ product.name }}</p>
    <p> {{ product.description }} </p>
    <p><b>Prix</b> : {{ product.price }}€</p>
    <p><b>Date</b> : {{ product.createdAt|date("m/d/Y") }}</p>
    <button class="btn btn-primary" id="panier">Ajouter au panier</button>
    <div class="alert alert-success" role="alert" id="message" style="display: none;">
    </div>
</div>

<script>
    const id = document.querySelector("h1").getAttribute("data-id");
    const name = document.querySelector("h1").getAttribute("data-name");
    const panier = document.querySelector("#panier");
    const Urladd = `/panier/add/${id}`;
    const message = document.querySelector('#message');

    panier.addEventListener("click", () => {
        panier.disabled = true;
        fetch(Urladd)
            .then(res => res.json())
            .then(res => {
                message.style.display = 'block';
                message.textContent = `Le produit ${name} a bien été ajouté au panier.`;
            })
        });
</script>

{% endblock %}