{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<style>
    .container-div {
        width: 100%;
        height: 90%;
    }

    .display {
        display: flex;
    }

    h1 {
        text-align: center;
        font-weight: bold;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 30px;
    }

</style>
<h1>Accueil</h1>
<div class="container-div">
    <div class="display">
        <ul>
            <h2>Produits les plus récents : </h2>
            {% for product in productsDate %}
            <li>
                <a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a>
                <br />
                {{ product.description | slice(0,300) }}
                <a href="{{ path('product_show', {'id': product.id}) }}">... voir plus</a>
                <br />
                Prix : {{ product.price }}€
                <br />
                <b>Date :</b>{{ product.createdAt|date("d/m/Y")}}
                <br /><br />
            </li>
            {% endfor %}
        </ul>

        <ul>
            <h2>Produits les moins cher : </h2>
            {% for product in productsPrice %}
            <li>
                <a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a>
                <br />
                {{ product.description | slice(0,300) }}
                <a href="{{ path('product_show', {'id': product.id}) }}">... voir plus</a>
                <br />
                Prix : {{ product.price }}€
                <br />
                <b>Date :</b>{{ product.createdAt|date("d/m/Y")}}
                <br /><br />
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}